CompileFlags:
  Add:
    - "-I/opt/homebrew/opt/icu4c/include"
    - "-I/opt/homebrew/opt/icu4c/include/unicode"
    - "-std=c++17"
    - "-Wall"
    - "-I.pindf"
    # - "-lpindf"
    # - "-licuio"
    # - "-licuuc"
    # - "-L/opt/homebrew/Cellar/icu4c@78/78.2/lib"
    # - "-L.pindf"

Diagnostics:
  UnusedIncludes: Strict

Index:
  Background: Build